<launch>
  <arg name="multi_robot_name" default=""/>
  <arg name="set_lidar_frame_id" default="base_scan"/>
  <arg name="set_joy_en" default="0"/>


  <include file="$(find carebuddy_bringup)/launch/carebuddy_motor.launch">
  </include>

  <include file="$(find carebuddy_bringup)/launch/carebuddy_lidar.launch">
    <arg name="set_frame_id" value="$(arg set_lidar_frame_id)"/>
    <arg name="set_port" value="$(arg set_port_lidar)"/>
  </include>
</launch>
