<launch>

    
    <node name="motor_control_node" pkg="my_robot_control" type="motor_control_node.py" machine="pi" output="screen">
        <param name="PWMA" value="18"/>
        <param name="AIN1" value="22"/>
        <param name="AIN2" value="27"/>
        <param name="PWMB" value="23"/>
        <param name="BIN1" value="25"/>
        <param name="BIN2" value="24"/>
    </node>
</launch>
